In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('senticnet6_polarity.py')

In [3]:
# For sentiment score get last 2 characters and turn them into an int

df['sentiment'] = df['senticnet6 = {}'].str[-2:].astype(int)

In [4]:
df.head()

               senticnet6 = {}  sentiment
0  senticnet6['1st_class'] = 1          1
1         senticnet6['a1'] = 1          1
2       senticnet6['aapl'] = 1          1
3    senticnet6['abalone'] = 1          1
4   senticnet6['abandon'] = -1         -1

In [5]:
# Based on sentiment conditionally select first 12 characters and last 6 or 7

df['word'] = np.where(df['sentiment'] == 1,df['senticnet6 = {}'].str[12:-6], df['senticnet6 = {}'].str[12:-7])

In [6]:
df.head()

               senticnet6 = {}  sentiment       word
0  senticnet6['1st_class'] = 1          1  1st_class
1         senticnet6['a1'] = 1          1         a1
2       senticnet6['aapl'] = 1          1       aapl
3    senticnet6['abalone'] = 1          1    abalone
4   senticnet6['abandon'] = -1         -1    abandon

In [7]:
df['word'].isnull().values.any()

False

In [8]:
df['sentiment'].isnull().values.any()

False

In [ ]:
# find underscores

df[df.word.str.contains(r'[_]')]

In [9]:
# new dataframe with no underscores

new_df = df[df.word.str.contains(r'[_]') == False]

In [10]:
new_df

                     senticnet6 = {}  sentiment       word
1               senticnet6['a1'] = 1          1         a1
2             senticnet6['aapl'] = 1          1       aapl
3          senticnet6['abalone'] = 1          1    abalone
4         senticnet6['abandon'] = -1         -1    abandon
12      senticnet6['abandoned'] = -1         -1  abandoned
...                              ...        ...        ...
199984    senticnet6['zoonotic'] = 1          1   zoonotic
199986  senticnet6['zoophilia'] = -1         -1  zoophilia
199988         senticnet6['zor'] = 1          1        zor
199990      senticnet6['zorro'] = -1         -1      zorro
199991      senticnet6['zotob'] = -1         -1      zotob

[45757 rows x 3 columns]

In [11]:
# drop unnnessessary column

new_df.drop('senticnet6 = {}', axis=1, inplace=True)

/Users/kat/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [17]:
new_df

        sentiment       word
1               1         a1
2               1       aapl
3               1    abalone
4              -1    abandon
12             -1  abandoned
...           ...        ...
199984          1   zoonotic
199986         -1  zoophilia
199988          1        zor
199990         -1      zorro
199991         -1      zotob

[45757 rows x 2 columns]

In [20]:
new_df.to_csv('sentiment_scores.csv',index = False)